

If your question is not answered below feel free to <a href="tel:936-827-0940">call us at 936-827-0940</a>a>
<br><br>
<ul>
  <li>
What If I have mechanical issues or a flat tube during the ride?
Rolling Pine is always on call during operating hours and will drive out immediately to your location and provide you with mechanical support.
</li>

<li>
What are your operating hours?
We are open from 9am to 6pm every day
</li>
<li>
Do you provide helmets and locks?
Yes, we will loan you helmets and locks if requested
</li>
<li>
Can I reserve online?
Absolutely you can reserve online here
</li>
<li>
Will you install my pedals if I provide them for you?
Yes, Rolling Pine will put on anybody’s personal preferred pedals, although Rolling Pine does not offer clip less pedals and all bikes have flat pedals by default.
</li>
<li>
Where are you located?
Luckily, Rolling Pine takes care of all the delivery and pick up so you will never have to worry about the logistics of your rented bike. Just let us know the location you had in mind within The Woodlands and we will take care of the rest.
</li>
<li>
Where do I ride?
The Woodlands has about 160 miles of paved paths and trails, so feel free to explore or stay around the restaurants and shopping areas. You can access the map of all The Woodlands bike paths online here
</li>
<ul>